body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    background-image: url(bg.jpg);
    background-size: cover;
}

header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links .active {
    color: #ff0000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 6px 10px;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    color: #fff;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
}

.contact-form, .contact-info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form h2, .contact-info h2 {
    color: #fff;
    margin-bottom: 20px;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.contact-info p {
    margin: 10px 0;
    color: #fff;
}

.contact-info p strong {
    color: #ff0000;
}

footer {
    background-color: #e752f4;

    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}